*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  background-color: #1a1a1c;
  color: white;
}
.coin-app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.coin-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.coin-search input{
  padding: 10px;
  color: #1a1a1c;
  border-style: none;
  background: white;
  width: 400px;
}